      @font-face {
        font-family: 'SourceSansPro';
        font-weight: 600;
        src: url('libs/css/SourceSansPro-Semibold.woff2') format('woff2'); /* Chrome 26+, Opera 23+, Firefox 39+ */
      }

      @font-face {
        font-family: 'SourceSansPro';
        font-weight: 900;
        src: url('css/SourceSansPro-Black.woff2') format('woff2'); /* Chrome 26+, Opera 23+, Firefox 39+ */
      }

      @font-face {
        font-family: 'SourceSansPro';
        src: url('libs/css/SourceSansPro-Regular.woff2') format('woff2'); /* Chrome 26+, Opera 23+, Firefox 39+ */
      }

      html,
      body {
        font-family: SourceSansPro, Arial, sans-serif;
        font-weight: 600;
        height: 100%;
        margin: 0;
        padding: 0 8px;
      }

      body {
        display: flex;
        justify-content: center;
      }

      .demo_app-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 400px;
      }

      .content-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: calc(100% - 72px);
      }

      .capturedImage {
        margin-left: 8px;
        margin-bottom: 16px;
        float: left;
        width: calc(33% - 8px);
        cursor: pointer;
      }

      .capturedImage:nth-child(3n + 1) {
        clear: both;
      }

      button {
        width: 160px;
        height: 52px;
        border-radius: 8px;
        background-color: #4a8ee0;
        color: white;
        border: 0;
        font-size: 18px;
        font-family: SourceSansPro, sans-serif;
        font-weight: 600;
      }

      span.loading {
        display: inline-block;
        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAltJREFUSA2tlUFLFVEUx988fZVG4VNLy0AqayWoC9FWQYGbcB/UpqI2fYCgb9AiCMLv4EJo2SZpFyqICGaKQaVvkakFZfUs7fX7DTPV5CT5nAO/d+6795zzv3funbm53A5WqVTa4BY8gnnYgptQAwWohfwOJXK1aYMktdJ/B65CAYyTAGKzcI0Q/wNfDoJgKx6M/Z8JYR/BAzSG4BBY9AU8hil4S5EpYsyzuOL7oraC64yX8elG4jV4DSV4ChfSI3/3EuOjKkILHAcntt0YuAgL8AoewIHtUek9xAagyAloh4OJSDqOwiS4kfcTg7v4Q24znILTEO5vfAJuU8cZz8HdXdT8O/Q9HW60xY84mEepBT8Im3CPTdrAV2XkeprWwAPQRO2CKzgPFZgj4Bl+T0aNdQo4WUUaFDgXdYziszJFfExFBY6Bz+05ZGVfKKRAnQJFcEkrkJVZT4F6f9wYV+A+ZGW+6WFtV7AMKjZCVrafQgpsKlCyAWcgK2ugkAIbCoyBj6gPsrI2CnlM12KBb/zxO9KzV4XoxfXguIJ3eV6MVRpPwFVcIcDPb1VGrrPuAn2J2l9dgTYMvhwu7QZUa/0kNoEn0nskFwqg5EfqIbjZ/czEa9LL5L+MWK9OPzkd4OwnnL3JiRuNIG+zy+C7sQgjBM7i/2nktDPoATkMPuYxcsLZ004K2EFCN+46uEkmLME0vIGP4PK9UFrhJHgkjSvDKMWN+2WJFcS9iJh0CXrB1fjoLKKX75G3z/YMjFP8Mz5hqQJxRCTUyf+z4NGrAwU/gKfvpVD4Ez7VfgJCZBqGvW8R+gAAAABJRU5ErkJggg==');
        width: 24px;
        height: 24px;
        animation-name: spin;
        animation-duration: 1.2s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
      }

      @keyframes spin {
        100% {
          transform: rotate(360deg);
        }
      }

      button:disabled {
        opacity: 0.3;
      }

      #image_uploads {
        position: absolute;
        height: 100%;
        width: 100%;
        opacity: 0;
        display: none;
      }

      #error-text {
        color: red;
      }

      mr {
        margin-right: 10px;
      }

      .captureScreenTitle {
        font-size: 32px; 
        color: gray; 
        line-height: 1.19; 
        width: 320px; 
        text-align: center; 
        margin-bottom: 16px;
        margin-top: 45px !important;
      }
